body {
    font-family: Arial, sans-serif;
    color: #5b544e;
    background-color: #f6f4f0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    button {
        background-color: #e0021d;
        color: #fff;
    }

    button:hover {
        background-color: #777;
    }

    body.dark-mode {
        background-color: #333;
        color: #fff;
    }

    #mode.dark-mode {
        filter: invert(1);
    }

    button.dark-mode-button {
        background-color: #e0021d;
        color: #fff;
    }

    button.dark-mode-button:hover {
        background-color: #777;
    }
}

#heuresS1,
#heuresS2,
#heuresS3 {
    display: none;
    padding-top: 0px;
}

label, input, button {
    margin: 3% 0;
}

button {
    background-color: #e0021d;
    color: white;
    border: none;
    padding: 2% 3%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
}

button:hover {
    background-color: #424244;
}

#picnicLogo {
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 15vw;
}

#checkS1,
#checkS2,
#checkS3 {
    display: inline-block;
    margin-right: 2%;
    padding-top: 2%;
}

.gris {
    color: #e0021d;
}

input[type="time"] {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="time"]:hover,
input[type="time"]:focus {
  border-color: #e0021d;
  box-shadow: 0 0 8px rgba(224, 2, 28, 0.6);
}

#s1,
#s2,
#s3 {
    display: none;
}

.fa-square-check {
    content: "\f14a";
    color: #e0021d;
}

label {
    cursor: pointer;
}

p,
label {
    font-size: 2vw;
}

#question {
    margin-top: 5%;
    font-size: 2vw;
    width: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

#calculer {
    text-align: center;
}