body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    color: #5b544e;
    background-color: #f6f4f0;
}

#heuresS1,
#heuresS2,
#heuresS3 {
	display: none;
    padding-top: 0px;
}

.container {
    max-width: 500px;
    margin: 70px 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

label, input, button {
    margin: 10px 0;
}

button {
    background-color: #424244;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0021d;
}

.container p {
    margin-top: 0;
}

#picnicLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
}

#checkS1,
#checkS2,
#checkS3 {
    display: inline-block;
    margin-right: 20px;
    padding-top: 2px;
}

.gris {
    color: grey;
}

#mode {
    position: absolute;
    top: 10px;
    right: 10px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

#mode.dark-mode {
    filter: invert(1);
}

button.dark-mode-button {
    background-color: #e0021d;
    color: #fff; /* Changer la couleur du texte en mode sombre */
}

button.dark-mode-button:hover {
    background-color: #777; /* Changer la couleur de fond au survol en mode sombre */
}
